<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <!-- 홈 메인 섹션 -->
        <div class="home text-center py-12">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic mx-auto mb-8 max-w-none w-full"
          />

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>